day1/pugHomeWork/public/views/skill.pug
head
    block head
    title My Site
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
body
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            ul(class="nav navbar-nav")
                li(class=page=='index' ? 'active' : '')
                    a(href="/" ) About Me
                li(class=page=='skill' ? 'active' : '')
                    a(href="/skill") Skill
                li(class=page=='contact' ? 'active' : '')
                    a(href="/contact") Contact Me
                li(class=page=='port' ? 'active' : '')
                    a(href="/portfolio") Portfolio
    div
        div(style="text-align: center")
            h1(style="text-align: center") Skill
            div(style="width: 200px;text-align: left;margin: auto")
                li Javascript
                li HTML
                li MySQL
                li Node.js
                li Koa
                li Cloud Deployment
                li Algorithm: Data Structure

day1/skill.html
<!DOCTYPE html>
<html lang="en">
<head>
  <title>contact me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="margin: 0px auto;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="index.html">About Me</a></li>
      <li class="active"><a href="skill.html">Skill</a></li>
      <li><a href="contact.html">Contact Me</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
    </ul>
  </div>
</nav>
  
<div>
    <div style="text-align: center">
            <h1 style="text-align: center">Skill</h1>
            <div style="width: 200px;text-align: left;margin: auto">
              <li>Javascript</li>
              <li>HTML</li>
              <li>MySQL</li>
              <li>Node.js</li>
              <li>Koa</li>
              <li>Cloud Deployment</li>
              <li>Algorithm: Data Structure</li>
            </div>
                
    </div>
</div>
    
        


</body>
</html>
